### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.*

### Java ###
*.class
*.log

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea/
*.iml
*.iws
*.ipr

.vscode/
.project
.classpath
.settings/

### Spring ###
.springBeans
.sts4-cache
