version: '3.8'

services:
  database:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: we
      POSTGRES_DB: ecommerce_yt
      POSTGRES_PASSWORD: we

  # Use root/example as user/password credentials
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080